@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --branco: #ffffff;
    --laranja: #E28625;
    --verde: #006971;
    --verde-escuro: #004140;
    --fonte-titulo: 'Big Shoulders Display', cursive;
    --fonte-texto: 'Lexend Deca', sans-serif;
}

.container{
    background: var(--laranja);
    padding: 4em 3em 5em 3em;
    border-radius: 8px 8px 0 0;
    margin-inline: 1.5em;
}

.container:nth-child(1){
    margin-top: 4em;
}

.container:nth-child(2){
    background: var(--verde);
    position: relative;
    top: -.5em;
}

.container:nth-child(3){
    background: var(--verde-escuro);
    position: relative;
    top: -2em;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.cabecalho__titulo{
    color: var(--branco);
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
    margin-block: 1em;
    text-transform: uppercase;
}

.container__paragrafo{
    color: var(--branco);
    font-family: var(--fonte-texto);
    font-size: 1em;
    margin-right: 3em;
    margin-bottom: 1.5em;
}

button{
    color: var(--laranja);
    background: var(--branco);
    border: none;
    border-radius: 25px;
    padding: .9em 1.5em;
}

.second-button{
    color: var(--verde);
}

.third-button{
    color: var(--verde-escuro);
}

/*----------------------------------------------------------------TABLET-----------------------------------------------------------*/

@media screen and (min-width: 768px){
    .container{
        margin-inline: 8em;
    }

    .container:nth-child(1){
        margin-top: 2em;
    }
}

/*-----------------------------------------------DESKTOP-------------------------------------------------*/

@media screen and (min-width: 1280px){
    .main-container{
        display: flex;
        margin-top: 10em;
        margin-inline: 10em;
    }

    .container{
        margin-inline: 0;
    }

    .container:nth-child(1){
        margin-top: -2em;
        border-bottom-left-radius: 8px;
        margin-bottom: 2em;
    }

    .container:nth-child(2){
        margin-top: -1.5em;
        margin-bottom: 1.5em;
        border-radius: 8px;
        position: relative;
        right: .5em;
    }

    .container:nth-child(3){
        border-radius: 0px 8px 8px 0px;
        position: relative;
        right: .5em;
    }

    button:hover{
        background: transparent;
        color: var(--branco);
        border: 2px solid var(--branco);
    }
}

@media screen and (min-width: 1281px){
    .main-container{
        margin-inline: 17em;
    }
}